<!DOCTYPE html>
<html>
  <head>
    <title>Estadisticas del club</title>
  </head>
  <body>
    <h1>Estadisticas del club</h1>

    <table border="1" cellpadding="6">
      <thead>
        <tr>
          <th>Total Goles</th>
          <th>Total Asistencias</th>
          <th>Total Minutos jugados</th>
          <th>Goles/minutos</th>
        </tr>
      </thead>

      <tbody>
        <tr>
            <td>{{ estadisticas.goles_totales }}</td>
            <td>{{ estadisticas.asistencias_totales }}</td>
            <td>{{ estadisticas.minutos_totales }}</td>
            <td>{{ media }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
