<!DOCTYPE html>
<html>
<head>
    <title>Categorías</title>
</head>
<body>

<h1>Categorías</h1>

<table border="1" cellpadding="6">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Edad mínima</th>
            <th>Edad máxima</th>
        </tr>
    </thead>

    <tbody>
    {% for categorias in mostrar_categorias %}
        <tr>
            <td>{{ categorias.tipos }}</td>
            <td>{{ categorias.descripcion }}</td>
            <td>{{ categorias.edad_min }}</td>
            <td>{{ categorias.edad_max }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
